# ignore files
.DS_Store
Brewfile.lock.json
~/.gitconfig
*.hprof

# ignore config

karabiner/automatic_backups
vscode/User/globalStorage
vscode/User/workspaceStorage
.gnupg/
.ssh/
!config/.gnupg/gpg-agent.conf
.config/gh/hosts.yml
.config/AWSVPNClient
.config/gcloud
.config/GitHub/ActionsService
.config/karabiner/automatic_backups
.config/xbuild/*.xml
.config/.mono/keypairs
.config/nvim/plugged/kotlin-vim/
.config/nvim/plugged/nerdtree-git-plugin/
.config/nvim/plugged/nerdtree/
config/.gitignore
.config/configstore/
~/.config/github-copilot/

# Gradle folder
.gradle/
