Brewfile.lock.json
**/.gradle/
karabiner/automatic_backups
vscode/User/globalStorage
vscode/User/workspaceStorage
config/.gnupg/
config/.ssh/*
!config/.gnupg/gpg-agent.conf
config/.config/gh/hosts.yml
config/.gitconfig
config/.config/AWSVPNClient
config/.config/gcloud
config/.config/GitHub/ActionsService
config/.config/karabiner/automatic_backups
config/.config/xbuild/*.xml
.DS_Store
config/.config/.mono/keypairs
