# Managed by chezmoi (template). Edit values as you like.

[data]
  # Desired login shell path used by templates (e.g. run_once_set_shell.sh.tmpl)
  # Examples:
  #   macOS builtin zsh:            /bin/zsh
  #   Homebrew fish (Apple Silicon):/opt/homebrew/bin/fish
  #   Homebrew fish (Intel Mac):    /usr/local/bin/fish
  #   Linux fish:                   /usr/bin/fish
  # Set a sensible default per OS; feel free to change.
  shell = "{{- if eq .chezmoi.os \"darwin\" -}}/bin/zsh{{- else -}}/bin/bash{{- end -}}"

