name: Test

on:
  push:
    branches: [master]
  pull_request:
    branches: [master]

jobs:
  e2e:
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@v6
      - name: Run install.sh
        run: ./install.sh
      - name: Setup Bats
        run: brew install bats-core
      - name: Run Bats tests
        run: bats tests/
